* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.centerDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.title {
  font-size: xx-large;
}

#searchForm {
  width: 80%;
  max-width: 800px;
}

/* Style the search field */
#searchForm input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid var(--default);
  float: left;
  width: 80%;
  background: var(--content);
  color: var(--foreground);

  &::placeholder {
    color: var(--default-600);
  }
}

/* Style the submit button */
#searchForm button {
  float: left;
  width: 20%;
  padding: 10px;
  background: var(--primary);
  color: white;
  font-size: 17px;
  border: 1px solid var(--default);
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

#searchForm button:hover {
  background: var(--primary-400);
}

/* Clear floats */
#searchForm::after {
  content: "";
  clear: both;
  display: table;
}